body {
  font-family: Arial, sans-serif;
  padding: 20px;
}
#wrap {
  float: left;
  position: relative;
  left: 50%;
}

#content {
  float: left;
  position: relative;
  left: -50%;
}
a:link, a:visited {
  background-color: #0000FF;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}